body {
    font-family: Arial, sans-serif;
    margin: 0
}

form {
    max-width: 400px;
    margin: 0 auto;
}

label,
input,
textarea {
    display: block;
    margin-bottom: 10px;
}


.container {
    display: flex;
    align-items: center; /* or other values */
}

.item {
    align-self: flex-end; /* or other values */
}

header {
    background-color: #333;
    color: #fff;
    padding: 15px 0;
    text-align: center; /* Center align the text in the header */
}

h1 {
    margin: 0;
}

nav {
    display: flex;
    justify-content: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Display the list items in a row */
}

li {
    margin: 0 15px;
}

a {
    text-decoration: none;
    color: #fff;
}

